.button{
  padding: 14px 0 11px;
  min-width: 189px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
 &--white{
   min-width: 200px;
    border: 1px solid #FFFFFF;
   background: none;
   color: white;
 }
  &__circle {
    width: 16px;
    height: 16px;
    background: white;
    border: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
  } &__circle:after {
    content: url("../img/general_page/icon.png");
  }



}