
@import "sections/sections";
.root{
    display: flex;
 
    padding: 30px;
    gap: 30px;
    justify-content: center;
    flex-wrap:wrap;

}
.hideblock{
    border: none;
    

}.active{
    display: none;
}
.modal-show{
display: block;
}



